apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobile-app-bff
  namespace: bookstore-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mobile-app-bff
  template:
    metadata:
      labels:
        app: mobile-app-bff
    spec:
      containers:
      - name: mobile-app-bff
        image: ygrx532/mobile-app-bff:latest
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
